.job-detail-title {
  background-color: var(--background-card-color);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 14px -7px var(--text-color);
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: background 0.5s ease;

  &__meta {
    padding: 2rem;
    width: 100%;

    // Flex
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 780px) {
      flex-direction: column;
    }

    &-company {
      color: var(--text-color);

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
      }

      p {
        font-size: 0.9rem;
        font-weight: 200;
        @media (max-width: 780px) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
